* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: sans-serif;
}

header hgroup {
  text-align: center;
}

body > header {
  padding-top: 10px;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 100;
  background-color: whitesmoke;
}

nav {
  background-color: rgb(38, 38, 38);
  padding: 5px;
  display: flex;
  justify-content: center;
  gap: 60px;
}

a {
  color: #e8e8e8;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 20px;
}

a:hover {
  color: rgb(38, 38, 38);
  border-radius: 5px;
  background-color: #dbdbdb;
}

h1 {
  color: #333;
  margin-bottom: 10px;
  font-size: 36px;
  width: 100%;
  line-height: 1.3em;
}

p {
  color: #666;
  line-height: 1.3em;
}

main {
  margin: 3% 10%;
  display: flex;
  justify-content: space-between;
  grid-area: 20px;
  padding: 40px 0;
  gap: 40px;
}

article {
  width: 75%;
  position: relative;
}

article > header {
  padding-bottom: 40px;
  font-weight: 500;
  color: #444;
}

article > header p {
  display: inline;
  border-right: 1px solid #928f8f;
  padding-right: 10px;
  text-align: center;
}

article > header p:last-child {
  border-right: none;
  padding-left: 10px;
}

img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

article section:nth-child(2) {
  padding: 40px;
  border: 1px solid #cdcaca;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

h2 {
  padding-bottom: 10px;
  line-height: 1.3em;
  color: #444;
}

figcaption {
  background-color: rgb(38, 38, 38);
  color: whitesmoke;
  text-align: center;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  margin-top: -5px;
  font-size: 14px;
}

mark {
  padding: 5px 10px;
  position: static;
  background-color: rgb(38, 38, 38);
  color: whitesmoke;
  border-radius: 5px;
  margin-bottom: -10px;
  max-width: max-content;
}

hgroup {
  padding-bottom: 20px;
}

details {
  margin: 50px 0 20px;
  padding: 10px;
  cursor: pointer;
}

summary {
  font-size: 20px;
  padding-bottom: 10px;
  color: rgb(38, 38, 38);
  font-weight: 600;
}

details p {
  padding-left: 16px;
}

details[open] {
  background-color: rgb(238, 237, 237);
  border: 1px solid #d7d7d7;
  border-radius: 5px;
}

aside {
  width: 25%;
  border: 1px solid #d7d7d7;
  min-height: 350px;
  max-height: max-content;
  margin-top: 120px;
  padding: 20px;
  border-radius: 5px;
  position: sticky;
  top: 180px;
  left: 0;
}

aside a {
  color: rgb(85, 85, 227);
  font-size: 18px;
  padding: 0;
}

aside a:hover {
  color: rgba(0, 0, 255, 1);
  font-size: 18px;
  padding: 0;
  background-color: whitesmoke;
}

footer {
  padding: 3% 10%;
  background-color: rgb(38, 38, 38);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

address {
  color: whitesmoke;
  font-style: normal;
  line-height: 2em;
  width: 50%;
}

footer p {
  color: whitesmoke;
  width: 25%;
}

footer a {
  font-size: 16px;
  padding: 0;
}

footer a:hover {
  background-color: rgb(38, 38, 38);
  color: rgb(255, 255, 255);
}

dialog {
  margin: 20px;
  padding: 5px;
  border-radius: 5px;
  border-color: #cdcaca;
  color: #444;
}
